<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>
                P&oacute;lizas
            </nb-card-header>

            <nb-card-body>
                <a class="btn btn-success mx-2 my-2 float-right" [routerLink]="['/pages/insurance/create']"><span> Add</span></a>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripci&oacute;n</th>
                        <th>Tipo de Covertura</th>
                        <th>Covertura</th>
                        <th>Inicio de Vigencia</th>
                        <th>Periodo</th>
                        <th>Precio</th>
                        <th>Tipo de Riesgo</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor='let insurance of insurances; trackBy: index;'>
                        <td>{{insurance.Id}}</td>
                        <td>{{insurance.Name}}</td>
                        <td>{{insurance.Description}}</td>
                        <td>{{insurance.CoverageType?.Name}}</td>
                        <td>{{insurance.Coverage}}</td>
                        <td>{{insurance.StartDate | date}}</td>
                        <td>{{insurance.TermInMonths}}</td>
                        <td>{{insurance.Price | currency}}</td>
                        <td>{{insurance.RiskType?.Name}}</td>
                        <td>
                            <div class="btn-group-sm">
                                <a class="btn btn-secondary btn-sm mx-1 my-1" [routerLink]="['edit/' + insurance.Id]"><span> Edit</span></a>
                                <a class="btn btn-warning btn-sm mx-1 my-1" (click)="onDeleteConfirm(insurance.Id)"><span> Delete</span></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>