<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Informacion del Cliente</nb-card-header>
            <nb-card-body>
                <div class="input-group">
                    <input type="text" nbInput fullWidth placeholder="Nombre" [(ngModel)]="model.FirstName">
                </div>
                <div class="input-group">
                    <input type="text" nbInput fullWidth placeholder="Apellido" [(ngModel)]="model.LastName">
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Asignar Polizas</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="insurance-options col-sm-12 text-center">
                        <nb-checkbox [value]="insurance.Selected" [(ngModel)]="insurance.Selected" *ngFor='let insurance of insurances; trackBy: index;'>{{insurance.Name}}</nb-checkbox>
                        <span *ngIf="!(insurances && insurances.length)">No se encontraron Polizas en el sistema</span>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-lg-12">
        <nb-card>
            <nb-card-body>
                <div class="btn-group-sm">
                    <a class="btn btn-success mx-2 my-2 float-right" (click)="updateCustomer()"><span> Salvar</span></a>
                    <a class="btn btn-secondary  mx-2 my-2 float-right" [routerLink]="['/pages/customers']"><span> Atras</span></a>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>